.header {
  background-color: white;
  /* -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
  */
}

.lSider {
  overflow: auto;
  overflow-y: hidden;
}
.lSider:hover {
  overflow-y: visible;
}
